<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="brainy">
    <meta name="keyword" content="EntTax">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" href="../../../img/favicon.ico">

    <title>员工管理</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../../../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap-reset.css}" href="../../../css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link th:href="@{/assets/font-awesome/css/font-awesome.css}"
          href="../../../assets/font-awesome/css/font-awesome.css"
          rel="stylesheet"/>
    <link th:href="@{/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}"
          href="../../../assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet" href="../../../css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" href="../../../css/style.css" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" href="../../../css/style-responsive.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/xcConfirm.css}" href="../../../css/xcConfirm.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--此处未使用 [if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}" src="../../../js/html5shiv.js"></script>
    <script th:src="@{/js/respond.min.js}" src="../../../js/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<section id="container" class="">
    <!--header start 头部导航栏-->
    <header class="header white-bg">
        <!--左侧标题-->
        <div class="sidebar-toggle-box">
            <div data-original-title="导航栏" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="#" class="logo">发票数据<span>分析系统</span></a>
        <!--logo end-->

        <!--首页通知和模板下载-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="下载进销excel模板">
                        <i class="icon-cloud-download"></i>
                    </a>
                </li>
                <!-- settings end -->
            </ul>
            <!--  notification end -->
        </div>
        <!--通知下载结束-->

        <!--右侧部分-->
        <div class="top-nav ">
            <!--search & user info start 右部搜索-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start 个人信息等(在头像按钮下)-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" th:src="${staff.sAvatar}" width="35" height="35"
                             src="../../../img/avatar-mini4.jpg">
                        <span class="username" th:text="${staff.sName}"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a th:href="@{/staff/profile}" href="../staff/profile.html"><i
                                class="icon-user"></i>个人资料</a></li>
                        <li><a th:href="@{/staff/security}" href="../staff/security.html"><i
                                class="icon-warning-sign"></i>安全中心</a></li>
                        <li><a th:href="@{/staff/message}" href="#"><i class="icon-bell-alt"></i>消息通知</a></li>
                        <li><a th:href="@{/staff/logout}" href="#"><i class="icon-signout"></i>退出登录</a>
                        </li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
        <!--右侧部分结束-->

    </header>
    <!--header end 头部导航栏结束-->

    <!--sidebar start 左侧导航栏-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="">
                    <a class="" th:href="@{/index}" href="index.html">
                        <i class="icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-edit-sign"></i>
                        <span>数据管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li shiro:hasAnyRoles="操作员,管理员"><a class="" th:href="@{/bill/uploadexcel}"
                                                           href="bill/uploadexcel.html">导入数据</a>
                        </li>
                        <li shiro:hasAnyRoles="管理员"><a class="" th:href="@{/bill/managedata}"
                                                       href="bill/managedata.html">操作数据</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-bar-chart"></i>
                        <span>数据分析</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li shiro:hasAnyRoles="决策员,管理员"><a class="" th:href="@{/bill/monthcount}"
                                                           href="monthcount.html">月度统计</a></li>
                        <li shiro:hasAnyRoles="决策员,管理员"><a class="" th:href="@{/bill/yearcount}" href="yearcount.html">年度统计</a>
                        </li>
                        <li shiro:hasAnyRoles="决策员,管理员"><a class="" th:href="@{/bill/categorycount}"
                                                           href="categorycount.html">分类统计</a></li>
                        <li shiro:hasAnyRoles="决策员,管理员"><a class="" th:href="@{/bill/ratecount}" href="ratecount.html">比率统计</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-code-fork"></i>
                        <span>趋势预测</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li shiro:hasAnyRoles="决策员,管理员"><a class="" th:href="@{/ai/linear}"
                                                           href="ai/linear.html">线性预测</a></li>
                    </ul>
                </li>
                <li class="sub-menu active">
                    <a href="javascript:;" class="">
                        <i class="icon-user-md"></i>
                        <span>员工管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li shiro:hasAnyRoles="决策员,管理员" class="active"><a class="" th:href="@{/staffs/showstaff}"
                                                                          href="#">查看员工</a>
                        </li>
                        <li shiro:hasAnyRoles="管理员"><a class="" th:href="@{/staffs/managestaff}"
                                                       href="staffs/managestaff.html">员工管理</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-male"></i>
                        <span>个人中心</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" th:href="@{/staff/profile}" href="staff/profile.html">个人资料</a></li>
                        <li><a class="" th:href="@{/staff/editprofile}" href="staff/editprofile.html">修改信息</a></li>
                        <li><a class="" th:href="@{/staff/security}" href="staff/security.html">安全中心</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-envelope"></i>
                        <span>消息管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" th:href="@{/staff/message}" href="inform.html">我的消息</a></li>
                        <li><a class="" th:href="@{/staff/sendmessage}" href="sendmsg.html">发送消息</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-shield"></i>
                        <span>系统安全</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li shiro:hasAnyRoles="管理员"><a th:href="@{/log/systemlog}" href="systemlog.html">系统日志</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-info"></i>
                        <span>关于</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/aboutus}" href="aboutus.html">关于我们</a></li>
                        <li><a th:href="@{/aboutsystem}" href="aboutsystem.html">关于系统</a></li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end 左侧导航栏结束-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <!--头部位置显示栏-->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
                            <h4 class="modal-title">
                                员工信息列表
                            </h4>
                        </div>
                        <!--头部位置显示栏 结束-->


                        <table class="table table-striped border-top" id="sample_1">
                            <!--头部显示所包含的内容-->
                            <thead>
                            <tr>
                                <th style="width: 10px">
                                    <button class="btn btn-primary btn-sm">
                                        <i class="icon-male"></i>
                                    </button>
                                </th>
                                <th>头像</th>
                                <th>员工编号</th>
                                <th>用户名</th>
                                <th class="hidden-phone">电话号码</th>
                                <th class="hidden-phone">邮箱</th>
                                <th class="hidden-phone">角色</th>
                            </tr>
                            </thead>
                            <!--头部显示所包含的内容 结束-->

                            <!--显示每个员工的详细信息-->
                            <tbody id="tbody">
                            <tr class="odd gradeX" th:each="staffInfo,iterStat:${stafflist}">
                                <td></td>
                                <th><img th:src="${staffInfo.sAvatar}" width="35" height="35"></th>
                                <th th:text="${staffInfo.sId}"></th>
                                <td th:text="${staffInfo.sName}"></td>
                                <td th:text="${staffInfo.sPhone}"></td>
                                <td class="hidden-phone" th:text="${staffInfo.sEmail}"></td>
                                <td class="center hidden-phone"
                                    th:text="${staffInfo.rName}"></td>
                            </tr>
                            </tbody>
                            <!--显示每个员工的详细信息 结束-->

                        </table>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.js}" src="../../../js/jquery.js"></script>
<script th:src="@{/js/jquery-1.8.3.min.js}" src="../../../js/jquery-1.8.3.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../../js/bootstrap.min.js"></script>
<script th:src="@{/js/jquery.scrollTo.min.js}" src="../../../js/jquery.scrollTo.min.js"></script>
<script th:src="@{/js/jquery.nicescroll.js}" src="../../../js/jquery.nicescroll.js" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"
        src="../../../js/jquery.dataTables.min.js"></script>
<script th:src="@{/assets/data-tables/DT_bootstrap.js}" type="text/javascript"
        src="../../../assets/data-tables/DT_bootstrap.js"></script>

<!--Jquery Validate-->
<script th:src="@{/js/jquery.validate.min.js}" src="../../../js/jquery.validate.min.js"></script>
<!--Custom Validate-->
<script th:src="@{/js/custom-validate.js}" src="../../../js/custom-validate.js"></script>
<!--Custom function-->Ent
<script th:src="@{/js/custom-function.js}" src="../../../js/custom-function.js"></script>


<!--common script for all pages-->
<script th:src="@{/js/common-scripts.js}" src="../../../js/common-scripts.js"></script>

<!--script for this page-->
<script th:src="@{/js/dynamic-table.js}" src="../../../js/dynamic-table.js"></script>
<script th:src="@{/js/xcConfirm.js}" src="../../../js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>

<script>
    //upload download excel tooltip
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>

</body>
</html>
