body{
  margin:0;
  padding:0;
}

ul li{
  list-style: none;
}

#login{
  width: 600px;
  height: 300px;
  border: 1px solid red;
  margin: 220px auto;
}
.login{
  margin-top: 100px;
}
.list-group-item{
  margin-top: 25px;
  text-align: center;
}

#login-left{
  width: 100px;
  float: left;
}
#login-form{
  width: 400px;
  float: left;
}

