
body {
    background-color: #ffffff !important;
}

#nav-top {
    height: 56px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 2px !important;
}

#nav-top ul > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
    color: #585858;
}

#nav-top .nav-tabs {
    border-bottom: 0px;
    font-size: 18px;
    line-height: 20px;
}

#nav-top .login {
    padding: 8px 10px 1px 1px;
}

/*
设置activemenu*/
#main-menu .active-menu {
    background-color: #f1f7f9;
    color: #585858 !important;
}

#main-menu .active-menu i {
    color: #585858 !important;
}

/*
设置内容部分*/
#page-wrapper {
    padding: 15px 15px;
    /*min-height: 600px;*/
    background: #E6E6E6;
}

#page-inner {
    width: 100%;
    /*margin: 10px 20px 10px 0px;*/
    background-color: transparent;
    /*padding: 10px;*/
    height: 100%;
}

.navbar-side {
    z-index: 0;
}

.navbar-side {
    z-index: 1;
    position: fixed;
    width: 260px;
    top: 56px;
}

#page-wrapper {
    position: relative;
    top: 55px;
}

/*
设置侧边栏的sidebar-collapse*/

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav > li > a {
    color: #585858;
    background: transparent;
    text-shadow: none;
}

.sidebar-collapse > .nav > li > a {
    padding: 12px 10px;
}

.nav-second-level li > a {
    background-color: #fff;

}


ul.nav.nav-second-level.collapse.in {
    background: #fff;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background-color: #f9f9f9;
    color: #1963aa;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: #fff;
}

/*
设置li显示 下划线*/
.sidebar-collapse .nav > li > a {
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
}

/*
设置second nav*/
.nav-second-level li {
    border-bottom: none !important;
    padding-left: 37px;
}

/*设置左右显示按钮*/
/*#sideNav {
    position: absolute;
    right: -28px;
    z-index: 3;
    background-color: #f9f9f9;
    padding: 3px 6px;
    top: -0px;
    color: #585858;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    width: 28px;
    font-size: 16px;
}

#sideNav i {
    background-color: #f9f8f7f9;
    color: #585858;
}*/

/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/

@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        /*min-height: 725px;*/

    }

    .navbar-side {
        width: 260px;
        z-index: 1;
    }

    .navbar {
        border-radius: 0px;
    }

}

@media (max-width: 480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }

    .panel-left {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        overflow: hidden;
        margin: 14px;
    }
}
