
body {
    background-color: #ffffff !important;
}

/***************************/
/*登录页面css设置
/***************************/
.login-container {
    margin: 0 auto;
    width: 400px;
}

.position-relation {
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12), 0 26px 24px 0 rgba(118, 153, 223, .1);
}

.blank {
    padding-top: 10px;
}
.m-top{
    margin-top: 20px;
}

.container .row {
    margin-top: 18%;
}

.widget-main {
    padding: 0;
    margin: 3px 0;
}

.widget-main form {
    padding: 32px 64px;
}

.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    padding-top: 0;
    margin: 12px 0;
    margin: 6px 0 5px;
    border-bottom: 1px solid #478fca;
}

.btn-submit {
    width: 250px;
    height: 40px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #5182E4;
    color: #fff;
}

.btn-animation {
    overflow: hidden;
    position: relative;
    transition: .2s all 0s cubic-bezier(0.2, 1, .3, 1);
}

.btn-an-class {
    display: inline-block;
    padding: 0 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
    background: #5182E4;
    border: 2px solid transparent;
    line-height: 40px;
    vertical-align: middle;
}

.get-mess {
    float: right;
    display: block;
    margin: 3px 0 0;
    padding: 6px 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    background: #f5f7f8;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 0 rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .15), inset 0 2px 0 0 rgba(255, 255, 255, .5);
    transition: all .2s ease-in-out;
}

a:hover {
    text-decoration: none;
}

.b-mess {
    border: 0;
}

.h4 {
    color: #5182E4;
    font-weight: bold;
    width: 100%;
    font-size: 22px;
}

/***************************/
/*登录页面css设置
/***************************/
#nav-top {
    height: 56px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 2px !important;
}

#nav-top ul > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
    color: #585858;
}

#nav-top .nav-tabs {
    border-bottom: 0px;
    font-size: 18px;
    line-height: 20px;
}

#nav-top .login {
    padding: 8px 10px 1px 1px;
}

/*
设置activemenu*/
#main-menu .active-menu {
    background-color: #f1f7f9;
    color: #585858 !important;
}

#main-menu .active-menu i {
    color: #585858 !important;
}

/*
设置内容部分*/
#page-wrapper {
    padding: 15px 15px;
    /*min-height: 600px;*/
    background: #E6E6E6;
}

#page-inner {
    width: 100%;
    /*margin: 10px 20px 10px 0px;*/
    background-color: transparent;
    /*padding: 10px;*/
    height: 100%;
}

.navbar-side {
    z-index: 0;
}

.navbar-side {
    z-index: 1;
    position: fixed;
    width: 260px;
    top: 56px;
}

#page-wrapper {
    position: relative;
    top: 55px;
}

/*
设置侧边栏的sidebar-collapse*/

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav > li > a {
    color: #585858;
    background: transparent;
    text-shadow: none;
}

.sidebar-collapse > .nav > li > a {
    padding: 12px 10px;
}

.nav-second-level li > a {
    background-color: #fff;

}

ul.nav.nav-second-level.collapse.in {
    background: #fff;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background-color: #f9f9f9;
    color: #1963aa;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: #fff;
}

/*
设置li显示 下划线*/
.sidebar-collapse .nav > li > a {
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
}

/*
设置second nav*/
.nav-second-level li {
    border-bottom: none !important;
    padding-left: 37px;
}

/*设置左右显示按钮*/
/*#sideNav {
    position: absolute;
    right: -28px;
    z-index: 3;
    background-color: #f9f9f9;
    padding: 3px 6px;
    top: -0px;
    color: #585858;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    width: 28px;
    font-size: 16px;
}

#sideNav i {
    background-color: #f9f8f7f9;
    color: #585858;
}*/

/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/

@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        /*min-height: 725px;*/

    }

    .navbar-side {
        width: 260px;
        z-index: 1;
    }

    .navbar {
        border-radius: 0px;
    }

}

@media (max-width: 480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }

    .panel-left {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        overflow: hidden;
        margin: 14px;
    }
}

.breadcrumbs {
    margin-bottom: 0px;
}
/*图片上传显示对话框设置*/

#picClick img{
    border-radius: 60px;
    opacity: 0.9;
}
.embed-responsive .embed-responsive-item{
    width: 350px;
    min-height: 100%;
    float: left;
    border: 1px solid #f0f0f0;

}
.embed-responsive-item-right{
    float: right;
}

.embed-responsive-item-right img{
    width: 100px;
    height: 100px;
}
.progress{
    margin-right: 200px;
}

.file-caption-main .form-control,.fileinput-remove,.fileinput-cancel{
    visibility: hidden;
}

.fileinput-upload{
    visibility: visible;
    display: block;
}