html {
    min-height: 100%;
    position: relative
}

body {
    background-color: #e4e6e9;
    min-height: 100%;
    padding-bottom: 0;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #393939;
    line-height: 1.5
}

a{
    white-space: normal;
}

/*
    标题头部
*/
.navbar{
    background: #4ebc30;
    color: #fff;
    font-size: 18px;
}
.nav{
    border-bottom: 0px;
}
.nav li a{
    color: #fff;

}
.nav li a:hover{
    color: #fff;
    background: #4ebc30;
    border: 1px solid #4ebc30;
}
.nav li a:visited{
    color: #fff;
    background: #4ebc30;
    border: 1px solid #4ebc30;
}
.nav li a:focus{
    color: #fff;
    background: #4ebc30;
    border: 1px solid #4ebc30;
}

#head-nav li a:hover{
    color: #fff;
    background: #2eb222;
    border: 1px solid #4ebc30;
}