<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enttax.dao.BillMapper">
  <resultMap id="BaseResultMap" type="Bill">
    <id column="BId" jdbcType="CHAR" property="bid" />
    <result column="BType"  property="btype" />
    <result column="BNum"  property="bnum" />
    <result column="BPrice"  property="bprice" />
    <result column="BMonth"  property="bmonth" />
    <result column="BTitle"  property="btitle" />
    <result column="BDate"  property="bdate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bill
    where BId = #{bid}
  </delete>
  <insert id="insert" parameterType="Bill">
    insert into bill (BId, BType, BNum, 
      BPrice, BMonth, BTitle, 
      BDate)
    values (#{bid}, #{btype}, #{bnum},
      #{bprice}, #{bmonth}, #{btitle},
      #{bdate})
  </insert>
  <update id="updateByPrimaryKey" parameterType="Bill">
    update bill
    set BType = #{btype},
      BNum = #{bnum},
      BPrice = #{bprice},
      BMonth = #{bmonth},
      BTitle = #{btitle},
      BDate = #{bdate}
    where BId = #{bid}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select BId, BType, BNum, BPrice, BMonth, BTitle, BDate
    from bill
    where BId = #{bid}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select BId, BType, BNum, BPrice, BMonth, BTitle, BDate
    from bill
  </select>
</mapper>