<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enttax.dao.RoleMapper">
  <!--<cache type="com.strive.cms.cache.RedisCache"/>-->

  <resultMap id="BaseResultMap" type="Role">
    <id column="RId"  property="rid" />
    <result column="RName" property="rname" />
    <result column="RUpdateTime"  property="rupdatetime" />
    <result column="RMark"  property="rmark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role
    where RId = #{rid}
  </delete>
  <insert id="insert" parameterType="Role">
    insert into role (RId, RName, RUpdateTime, 
      RMark)
    values (#{rid}, #{rname}, #{rupdatetime},
      #{rmark})
  </insert>
  <update id="updateByPrimaryKey" parameterType="Role">
    update role
    set RName = #{rname},
      RUpdateTime = #{rupdatetime},
      RMark = #{rmark}
    where RId = #{rid}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select RId, RName, RUpdateTime, RMark
    from role
    where RId = #{rid}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select RId, RName, RUpdateTime, RMark
    from role
  </select>
</mapper>