<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enttax.dao.StaffMapper">
  <!--<cache type="com.strive.cms.cache.RedisCache"/>-->

  <resultMap id="BaseResultMap" type="Staff">
    <id column="SId"  property="sid" />
    <result column="SName"  property="sname" />
    <result column="SPassword"  property="spassword" />
    <result column="SEmail"  property="semail" />
    <result column="SPhone"  property="sphone" />
    <result column="SSex"  property="ssex" />
    <result column="SBirthday" property="sbirthday" />
    <result column="SEnter"  property="senter" />
    <result column="SMark"  property="smark" />
    <result column="SAddress"  property="saddress" />
    <result column="SAvator"  property="savator" />
    <collection property="roles" resultMap="RoleResultMap"/>
  </resultMap>
  
  <resultMap id="RoleResultMap" type="Role">
     <id column="Rid" property="rid"/>
    <result column="Rname"  property="rname" />
    <result column="Rupdatetime"  property="rupdatetime" />
    <result column="Rmark"  property="rmark" />
    <collection property="permissions" resultMap="PermissResultMap"/>
  </resultMap>

  <resultMap id="PermissResultMap" type="Permission">
    <id column="Pid" property="pid"/>
    <result column="Pname"  property="pname" />
    <result column="Ptype"  property="ptype" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from staff
    where SId = #{sid}
  </delete>
  
  <!--insert-->
  <insert id="insert" parameterType="Staff">
    insert into staff (SId, SName, SPassword, 
      SEmail, SPhone, SSex, SBirthday, 
      SEnter, SMark, SAddress, 
      SAvator)
    values (#{sid}, #{sname}, #{spassword},
      #{semail}, #{sphone}, #{ssex}, #{sbirthday},
      #{senter}, #{smark}, #{saddress},
      #{savator})
  </insert>
  <insert id="insertStaffAndRoleRelation" parameterType="String">
    insert into staff_role (SId, RId) values (#{sid}, #{rid})
  </insert>

  <!--update-->
  <update id="updateByPrimaryKey" parameterType="Staff">
    update staff
    set SName = #{sname},
      SPassword = #{spassword},
      SEmail = #{semail},
      SPhone = #{sphone},
      SSex = #{ssex},
      SBirthday = #{sbirthday},
      SEnter = #{senter},
      SMark = #{smark},
      SAddress = #{saddress},
      SAvator = #{savator}
    where SId = #{sid}
  </update>

  <update id="updateToPassword">
    update staff set SPassword = #{newpassword}
    where SId = #{sid}
  </update>

  <!--select-->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select SId, SName, SPassword, SEmail, SPhone, SSex, SBirthday, SEnter, SMark, SAddress, 
    SAvator
    from staff
    where SId = #{sid}
  </select>
  <select id="selectByNameAndPassword"  resultType="Staff">
    select SId, SName, SPassword, SEmail, SPhone, SSex, SBirthday, SEnter, SMark, SAddress,SAvator
    from staff
    where SName = #{sname} AND SPassword=#{spassword}
  </select>
  <select id="selectByEmailAndPassword"  resultType="Staff">
    select SId, SName, SPassword, SEmail, SPhone, SSex, SBirthday, SEnter, SMark, SAddress, SAvator
    from staff
    where SEmail= #{semail} AND SPassword=#{spassword}
  </select>
  <select id="selectByPhoneAndPassword"  resultType="Staff">
    select SId, SName, SPassword, SEmail, SPhone, SSex, SBirthday, SEnter, SMark, SAddress,SAvator
    from staff
    where SPhone = #{sphone} AND SPassword=#{spassword}
  </select>


  <select id="selectByUserName" resultMap="BaseResultMap">
     select s.*,r.*,p.*
     from staff s left join staff_role su on s.sid=su.sid left join role r on r.rid=su.rid
     left join perm_role pr on pr.rid=r.rid left join permission p on p.pid=pr.pid
     where sname=#{sname};

  </select>
  <select id="selectByPhone" resultMap="BaseResultMap">
    select SId from staff WHERE SPhone = #{sphone}
  </select>
  <select id="selectByEmail" resultMap="BaseResultMap">
    select SId from staff WHERE SEmail = #{semail}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SId, SName, SPassword, SEmail, SPhone, SSex, SBirthday, SEnter, SMark, SAddress, SAvator
    from staff
  </select>
</mapper>